:root {
  --primary-color: white;
  --secondary-color: hsl(218, 44%, 22%);
  --tertiary-color: hsl(216, 15%, 48%);
  --background-color: hsl(212, 45%, 89%);
}

/* --------------------
   Default styles
   --------------------
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--background-color);
  padding: 24px;
}

main {
  height: 100%;
}

footer {
  text-align: center;
}

/* --------------------
   Utilities
   --------------------
*/

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.wrapper {
}

/* --------------------
   Components
   --------------------
*/

/* QR Card */

.qr-card-container {
  padding: 6rem 0;
  height: 100%;
}

.qr-card {
  padding: 16px;
  background-color: var(--primary-color);
  width: fit-content;
  height: fit-content;
  max-width: 25rem;
  border-radius: 1rem;
  text-align: center;
}

.qr-card .qr-card-photo img {
  width: 100%;
  height: auto;
  border-radius: 0.75rem;
}

.qr-card .qr-card-body {
  padding: 24px 16px;
}
.qr-card .qr-card-body .qr-card-title {
  font-size: 1.5rem;
  color: var(--secondary-color);
  margin-bottom: 16px;
}

.qr-card .qr-card-body .qr-card-description {
  font-size: 1rem;
  color: var(--tertiary-color);
}
