:root {
  --primary-color: white;
  --secondary-color: hsl(218, 44%, 22%);
  --tertiary-color: hsl(216, 15%, 48%);
  --background-color: hsl(212, 45%, 89%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--background-color);
}
